psycopg2-binary>=2.9.3

git+https://github.com/adbenitez/simplebot_downloader@master#simplebot-downloader
git+https://github.com/adbenitez/simplebot_instantview@master#simplebot-instantview
git+https://github.com/adbenitez/simplebot_file2link@master#simplebot-file2link
git+https://github.com/adbenitez/simplebot_translator@master#simplebot-translator
git+https://github.com/adbenitez/simplebot_memes_en@master#simplebot-memes-en
git+https://github.com/adbenitez/simplebot_memes_es@master#simplebot-memes-es

# required by youtube.py plugin
youtube-dl

# required by admin.py plugin
psutil
